@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-Medium.ttf);
}

.container {
  background-color: rgba(10, 61, 98, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 100%;

  h1 {
    color: rgba(50, 255, 126, 1);
    font-family: Orbitron, Verdana, sans-serif;
    letter-spacing: 0.3rem;
    text-align: center;
    margin: 0;
    margin-top: -1rem;
  }

  .repo {
    margin: 0.3125rem 0;

    .repo-link {
      border-bottom: 0.1rem solid rgba(199, 236, 238, 1);
      color: rgba(199, 236, 238, 1);
      letter-spacing: 00.1rem;
      text-decoration: none;
      transition: border-bottom 0.4s ease-in, color 0.4s ease-in;

      &:hover {
        border-bottom: 0.1rem solid transparent;
        color: rgba(255, 234, 167, 1);
      }
    }
  }

  .loading-container {
    background-color: rgba(10, 61, 98, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 100vh;

    h1 {
      color: rgba(50, 255, 126, 1);
      font-family: Orbitron, Verdana, sans-serif;
      letter-spacing: 0.3rem;
      margin-bottom: 1.5rem;
    }

    .loader {
      border: 16px solid rgba(52, 172, 224, 0.3);
      border-radius: 50%;
      border-top: 16px solid rgba(50, 255, 126, 1);
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
