.scroll-box {
  border: 0.15rem solid black;
  border-radius: 0.5rem;
  cursor: s-resize;
  height: 70vh;
  width: 100%;
  padding: 1.5rem 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
