* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	min-height: 100vh;
}

body {
	background-color: rgba(10, 61, 98, 1);
	background-image: url(./images/blue-floral-mosaic.png);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
